<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>医生登录</title>
    <link href="/static/css/demo2.css" rel="stylesheet" type="text/css">
    <!--Framework-->
    <script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui.js" type="text/javascript"></script>
</head>

<style>
    label{
        font-size: 20px;
    }
    p{
        font-size: 36px;
        text-align: center;
        color:gray;
    }
    #submit{
        font-size: 22px;
    }
    #container{
        border-radius: 10px;
        border:3px solid forestgreen;
    }
</style>

<body>
        <div class="container" id="container">
            <p>
                <span>医生登录</span>
            </p>

            <form class="contact" method="post" id="form">
                {% csrf_token %}
            <div class="row clearfix">
                <div class="lbl">
                    <label for="hospitalNo">
                        医院编号：</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="hospitalNo" name="hospitalNo" placeholder="请输入您所在的医院的编号">
                </div>
            </div>

                <br/>

            <div class="row clearfix">
                <div class="lbl">
                    <label for="email">
                        账号：</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="email" name="email" placeholder="请输入您的个人账号">
                </div>
            </div>

                <br/>

            <div class="row clearfix">
                <div class="lbl">
                    <label for="pwd">
                        登录密码：</label>
                </div>
                <div class="ctrl">
                    <input type="text" id="pwd" name="pwd" placeholder="请输入密码">
                </div>
            </div>

                <br/>

            <div class="row clearfix" style="text-align: center">
                    <input type="submit" name="submit" id="submit" class="submit" value="登录">
            </div>

            </form>
        </div>
</body>
</html>